body {
  font-family: 'Orbitron', sans-serif;
  background-color: #BFD7B5;
}

p {
  color: #D4CB92;
}

.App {
  text-align: center;
}

.calculator {
  background-color: #544B3D;
  width: 300px;
  height: 365px;
  display: block;
  margin: auto;
  margin-top: 20vh;
  padding: 5px;
  border-radius: 8px;
}

.display {
  background-color: #4E6E58;
  padding: 5px;
  margin: auto;
  height: 60px;
  width: 280px;
  color: #D4CB92;
  text-align: right;
  border-radius: 8px;
}

.operation {
  font-size: 1.5em;
}

.buttons {
  width: 250px;
  margin: 15 auto;
  padding: 5px;
}

.equalButton {
  height: 95px;
}

.well {
  min-height: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}
